workspace/*
!workspace/README.txt
**/__pycache__/
*.py[cod]
!_internal/python/*.exe
!_internal/python/*.dll
!_internal/python/*.pyd
!_internal/python/*.zip
!_internal/python/*.cat
!_internal/python/*._pth
!_internal/python/**/*.dll
!_internal/python/**/*.pyd
!_internal/python/**/*.exe
!_internal/python/**/*.zip
*.log
*.tmp
*.tmp.png
_internal/apps/**/qa-*.png
